//  Fonts
@font-family-name__base: 'Open Sans';
@font-family__sans-serif: 'Open Sans';
@font-family__base: @font-family-name__base, @font-family__sans-serif;
@bodyfont: 'helvetical', sans-serif;
@font_segoeul: 'segoui', sans-serif;
//
//  Sidebar
//  ---------------------------------------------
@color-white-smoke:fff;
@color-gray56:gray;
@sidebar__background-color: @color-white-smoke;  // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background

@copyright__background-color: @color-gray56;
 
@primarycolor: #f55c59;
@primarybackgound: #f55c59;
@primaryborder: #59b210;
@bordercolor: #e5e5e5;
@linkcolor: #7b7b7b;
@linkhovercolor: #e30000;
@textcolor:#777;
@backgroundcolor:#fff;
@headingcolor: #5a5a5a; 
@menucolor: #ababab;
@labelbg: #2a2a2a;

@headerbg: #333333;
@headercolor: #797979;

@footerbg: #fafafa;
@footercolor: #fff;
@footerlinkcolor: #666666;
@footerlinkhovercolor: #59b210;



.buttonMixin() {
	background: #5d5d5d; 
	border: 0;
	border-radius: 0;
	box-shadow: none;  
	text-shadow: none; 
	white-space: nowrap;
	line-height: 49px;
	letter-spacing: 2px;
    padding: 0 28px;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-weight: 700; 

    .transition();
	
	&:hover {
		background: @primarycolor; 
		border: 0; 
		text-shadow: none;
		color: #fff;
	}
}
.noneTextSelect() {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */      
}

.transition (@transition: 0.4s) {
	-webkit-transition: all @transition ease-out;  
	-moz-transition:    all @transition ease-out;
	-ms-transition:     all @transition ease-out; 
	-o-transition:      all @transition ease-out;  
}

.scale (@factor) {
	-webkit-transform: scale(@factor);
	-moz-transform: 	 scale(@factor);
	-ms-transform: 		 scale(@factor);
	-o-transform: 		 scale(@factor);
}
.scaleY (@factor) {
	-webkit-transform: scaleY(@factor);
	-moz-transform: 	 scaleY(@factor);
	-ms-transform: 		 scaleYscaleY(@factor);
	-o-transform: 		 scaleY(@factor);
}
.opacity (@opacity) {
	-webkit-opacity: 	@opacity;
	-moz-opacity: 		@opacity;
	opacity: 		@opacity;
}
.rotate (@deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: 	 rotate(@deg);
	-ms-transform: 		 rotate(@deg);
	-o-transform: 		 rotate(@deg);
}
.translate (@x, @y:0) {
	transform:   translate(@x, @y);
	-webkit-transform:   translate(@x, @y);
	-moz-transform: 	 translate(@x, @y);
	-ms-transform: 		 translate(@x, @y);
	-o-transform: 		 translate(@x, @y);
}

.bg_gradient (@bottom, @left) {
	background: linear-gradient(bottom left, @bottom, @left);
    background: -webkit-linear-gradient(bottom left, @bottom, @left);
    background: -moz-linear-gradient(bottom left, @bottom, @left);
    background: -o-linear-gradient(bottom left, @bottom, @left); 
}

@-webkit-keyframes bounceIn{

	0%{opacity:0;-webkit-transform:scale(.3);transform:scale(.3)}
	50%{opacity:1;-webkit-transform:scale(1.2);transform:scale(1.2)} 
	100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
	}
	
@keyframes bounceIn{
	
	0%{opacity:0;-webkit-transform:scale(.3);-ms-transform:scale(.3);transform:scale(.3)}
	50%{opacity:1;-webkit-transform:scale(1.2);-ms-transform:scale(1.2);transform:scale(1.2)} 
	100%{opacity:1;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
}
	
	.bounceIn {-webkit-animation-name:bounceIn;animation-name:bounceIn }